
<style type='text/css'>
  #theform {
    position: absolute;
    text-align: center;
  }
  #pleasewait {
    margin-top: 10px;
    font-family: Comic Sans MS;
    font-size: 12px;
    color: color;
    padding: 10px;
    background: white;
  }
  .fa-pause, .fa-play {
    color: white;
    padding: 10px;
    background: black;
  }
  i:hover {
    cursor: pointer;
  }
</style>

<div id='theform' class="col-lg-4 col-lg-offset-4 col-xs-6">
   <form role="form" name="requestNews" ng-submit="get_news()">
       <div class="form-group">
           <p class="input-group">
               <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="'1860-01-01'" max-date="{{max}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
               <span class="input-group-btn">
               <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
         </span>
           </p>
       </div>
       <div class="form-group">
           <label for="word"></label>
           <input ng-model="keyword" type="text" class="form-control" id="word" placeholder="please enter one tag to initiate the experience of a lifetime">
       </div>
       <button type="submit" ng-click='submitClick()' ng-disabled='waiting15secs' class="btn btn-default">Submit</button>
       <i class="fa fa-pause" ng-show='musicPlaying' ng-click="pauseMusic()"></i>
       <i class="fa fa-play" ng-hide='musicPlaying' ng-click="playMusic()"></i>
       <p ng-show="waiting15secs" id='pleasewait'>plz wait 15 seconds before making another request we are very busy brainwashing the masses</p>
   </form>
</div>

<center><canvas id="myCanvas"></canvas></center>

<audio id="audio" type="audio/mpeg">
  <source type="audio/mp3" src="http://puu.sh/dtoYm/0203c484dd.mp3">
</audio>
