$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

 #fixedRightNav {
 	z-index:999999;
 	position:fixed;
 	width: 60px;
 	height: 100%;
 	background-color:black;
 	right:0;
 	ul{
 		padding:12px 0px 0px 0px;
 		*{
 			margin:0;
 		}
 		margin:0;
 		list-style-type:none;
 		li{
 			width: 60px;
 			padding-bottom:20px;
 			a{
 				padding:8px;
 				font-size: 1em;
 				 			.fa{
 				font-size:44px;
 			}
 			}
 			&.twitter {
 				position:absolute;
 				bottom:0;
 			}
 		}
 	}
 }

 video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background-size: cover;
}

 #georgie {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -2;
background-size: cover;
background-image:url(http://georgie-heroku.s3.amazonaws.com/images/anchor.png);
}
 #georgieMouth {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -1;
background-size: cover;
background-image:url(http://georgie-heroku.s3.amazonaws.com/images/anchor_mouth.png);
}

#loading{
	position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: 100;
background-color:rgba(255,255,255,.5);
	svg {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  margin: auto;
}

.hide{
	display:none;
}

.rect {
  fill: none;
  stroke-width: 8px;
  stroke: black;
  stroke-dasharray: 40;
  stroke-dashoffset: 50%;

  animation: movedash 1.5s forwards 0s infinite;
}

@keyframes movedash {
  to {
    stroke-dashoffset: 250%;
  }
}
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
    40% {-webkit-transform: translateY(0px);}
    60% {-webkit-transform: translateY(12px);}
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(0);}
    60% {transform: translateY(12px);}
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}


// Component styles are injected through grunt
// injector
@import '24hr/24hr.scss';
@import 'admin/admin.scss';
@import 'firehose/firehose.scss';
@import 'main/main.scss';
// endinjector