<div ng-include="'components/newsroom/newsroom.html'"></div>
<div ng-include="'components/georgie/georgie.html'"></div>

<div class="row" style="padding:20px;">
<div class="col-xs-3">
    <form role="form" name="requestNews" ng-submit="get_news()">
        <div class="form-group">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="'1860-01-01'" max-date="{{max}}" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
       			 <button type="button" class="btn btn-default" ng-click="opendate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
     	 </span>
            </p>
        </div>
        <div class="form-group">
            <input ng-model="keyword" type="text" class="form-control" id="word" placeholder="Google">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</div>

<div id="georgie"></div>
<div id="georgieMouth"></div>
<div id="subtitle"></div>
